@media (max-width: 1200px) {
    .main__wrapper {
        max-width: 900px;
    }
    .info {
        &__text {
            padding: 70px 0 0 45px;
        }
    }
    .examples {
        &__items {
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }
    }
}

@media (max-width: 991px) {
    .main__wrapper {
        max-width: 700px;
    }
    .promo {
        &__heading {
            font-size: 60px;
        }
        &__frame {
            max-width: 570px;
        }
    }
    .examples {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .heading {
        font-size: 30px;
    }
    .info {
       grid-template-rows: 430px;
        &__text {
           padding: 45px 0 0 45px;
        }
        &__descr {
            margin-top: 15px;
        }
    }
    .demonstraction {
        &__examples {
            margin-top: 150px;
        }
    }
}

@media (max-width: 767px) {
    .main__wrapper {
        max-width: 535px;
    }
    .promo {
        padding-top: 50px;
        &__frame {
            margin: 0 auto;
            margin-top: 70px;
            max-width: 445px;
        }
        &__heading {
            font-size: 48px;
        }
    }
    .header {
        flex-direction: column;
        min-height: 100px;
    }
    .info {
        display: flex;
        flex-direction: column;
        &__text {
            padding: 40px 55px;
        }
        &__descr {
            text-align: center;
        }
    }
    .heading {
        text-align: center;
    }
    .demonstraction {
        padding: 100px 0;
        &__examples {
            margin-top: 60px;
        }
    }
    .examples {
        &__items {
            grid-gap: 20px;
        }
        &__item {
            height: 300px;
        }
        &__link {
           
            background-position: center top;
        }
    }
    .footer {
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 575px) { 
    .main__wrapper {
        padding: 0 24px;
    }
    .promo {
        padding-top: 40px;
        &__heading {
            font-size: 34px;
            line-height: 38px;
            word-break: break-all;
        }
        &__frame {
            margin-top: 163px;
            padding: 24px;
            min-height: 196px;
        }
    }
    .header {
        flex-direction: row;
        min-height: 24px;
        &__menu {
            display: none;
        }
        &.open {
            padding: 40px 24px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: #000000;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 1fr 2fr;
            align-items: inherit;
            transition: .6s all linear;
            & .menu {
                display: block;
                height: 221px;
                width: 129px;
                &__items {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
                &__link {
                    font-family: $font-josefinSans;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 25px;
                    text-transform: uppercase;
                    &:hover::after {
                        bottom: 10px;
                    }
                }
            }
            & .hamburger {
                justify-self: end;
            }
        }
    }
    .hamburger {
        display: block;
    }
    .logo {
        width: 144px;
        &__img {
            width: 100%;
        }
    }
    .info {
        &__text {
            padding: 48px 24px 0;
        }
    }
    .heading {
        font-size: 28px;
        line-height: 28px;
    }
    .examples {
        &__items {
            margin-top: 48px;
            grid-template-columns: 1fr;
        }
        &__item {
            height: 120px;
            width: 70%;
        }
        &__header {
            display: block;
        }
        &__btns {
            margin-top: 34px;
        }
        &__btn {
            display: none;
            &_media {
                display: block;
                margin: 0 auto;
            }
        }
        &__link {
            &_background_opacity {
                padding: 20px;
            }
            &_background_1, &_background_4 {
                background-position: center 70%;
            }
        }
        &__text {
            font-size: 24px;
            line-height: 24px;
            width: 127px;
        }
    }
    .footer {
        min-height: 470px;
        padding: 56px 0;
        &__menu {
            &.menu {
                width: 59px;
                min-height: 189px;
                margin: 20px 0;
            }
            & .menu__items {
                flex-direction: column;
                justify-content: space-between;
            }
            & .menu__link {
                &:hover::after {
                    bottom: 10px;
                }
            }
        }
        &__copyright-sign {
            font-size: 14px;
            margin-top: 10px;
        }
    }
}