@import '../base/variables';

.footer {
    min-height: 160px;
    background: #000000;
    padding: 44px 0 33px 0;
    &__logo {
        width: 144px;
        & .logo__img {
            width: 100%;
        }
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;
    }
    &__menu {
        grid-row: 2/3;
    }
    &__social-link {
        justify-self: end;
    }
    &__copyright-sign {
        justify-self: end;
        font-family: $font-alata;
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}