@import '../base/variables';

.info {
    display: grid;
    grid-template-columns: 1.8fr .5fr 1.2fr;
    &__img {
        max-width: 731px;
        width: 100%;
        align-self: start;
        grid-row: 1/2;
        grid-column: 1/3;
        & img {
            width: 100%;
            height: 100%;
        } 
    }
    &__text {
        grid-row: 1/2;
        grid-column: 2/4;
        align-self: end;
        min-height: 317px;
        padding: 95px 0 0 95px;
        background-color: #fff;
    }
    &__descr {
        margin-top: 25px;
        font-family: $font-alata;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}