@import '../base/variables';

.menu {
    width: 380px;
    height: 35px;
    &__items {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        position: relative;
        height: 100%;
        list-style: none;
    }
    &__link {
        text-decoration: none;
        font-family: $font-alata;
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 24px;
            height: 2px;
            background-color: #FFFFFF;
        }
    }
}