.social-link {
    width: 144px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
        position: relative;
        height: 100%;
        text-decoration: none;
        & i {
            color: #FFFFFF;
            font-size: 24px;
        }
        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 24px;
            height: 2px;
            background-color: #FFFFFF;
        }
    }
}